<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/estilos.css">
	<title>Proyecto 3 - Ignacio Martin</title>	
</head>	

<body>
	<header id="header">
		<h1>FORMULARIO PARA CLIENTES</h1>
	</header>
	
	<h3>Registro de clientes</h3>	
	
	<form>
		<label for="name"></label>Nombre: </label>
		<input type="text" id="name" name="name" required>
		<br>
		<br>
		 <label for="surname">Apellido: </label>
		<input type="text" id="surname" name="surname" required>
		<br>
		<br>
		<label for="dni">DNI: </label>
		<input type="number" id="dni" name="dni" required>
		<br>
		<br>
		<label for="bday">Fecha de nacimiento:  </label>
		<input type="date" id="bday" name="bday" required>
		<br>
		<h4>Ingrese Género:</h4>
		<input type="radio"  id="gender" name="gender"> Masculino
		<input type="radio"  id="gender" name="gender"> Femenino
		<input type="radio" id="gender"  name="gender"> X
		<br>
		<label for="mail">Email: </label>
		<input type="email" id="mail" name="mail" required>
		<br>
		<label for="house">Domicilio: </label>
		<input type="text" id="house" name="house" required>
		<br>
		
		<label for="opcion">Provincia:</label>
		<select id="opcion" name="opcion" required>
		  <option value="jujuy">Jujuy</option>
		  <option value="salta">Salta</option>
		  <option value="tucuman">Tucumán</option>
		  <option value="sde">Santiago del Estero</option>
		  <option value="la-rioja">La Rioja</option>
		</select>
		<br>
		<label for="telefone-number">Número de teléfono: </label>
		<input type="number" name="telefone-number">
		<br>
		
		<label for="HTML">HTML</label>
		<input type="checkbox" name="HTML">		
	     <label for="CSS">CSS</label>		
		<input type="checkbox" name="CSS">	
		<label for="bootstrap">Bootstrap</label>	
		<input type="checkbox" name="bootstrap">
		<label for="java">JAVA</label>		
		<input type="checkbox" name="java">
		
		<br>
		<label for="sugerencias">¿Tienes alguna sugerencia para nosotros?</label>
		<br>
		<textarea id="sugerencias" name="sugerencias" rows="5" cols="50" placeholder="Escribe tus sugerencias aquí..."></textarea>
		<br>
		
		<label for="password">Ingrese su contraseña: </label>
		<input type="password" name="password" required>
		<br>
		
		<label for="terms">Acepto los términos y condiciones</label>
		<input type="checkbox" name="terms" required>
		<br>
		<label for="info">Acepto recibir información relativa a la empresa</label>
		<input type="checkbox" name="info" required>		
	</form>
	
	
	<footer>
		<p>@unju - Jujuy - Argentina - 2024</p>
	</footer>
</body>
</html>