<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Proyecto 3 - Ignacio Martin</title>	
		<link rel="stylesheet" href="/css/estilos.css">
	</head>
	
	<body>
		<header id="header-index">
				<h1 id="titulo-principal">Programa de la materia Programación Visual</h1>
		</header>
		<nav class="navigator">
			<a href="#seccion1" class="referencia-index">Primer Sección</a>			
			<a href="#seccion2" class="referencia-index">Segunda Sección</a>			
			<a href="#seccion3" class="referencia-index">Tercer Sección</a>
		</nav>
		<main class="main">
			
			<section id="seccion1" class="secciones-index">
				<h2 class="titulo-seccion">Primer Sección</h2>
				<h3 class="subtitulo-seccion">Java</h3>
				<p class="parrafo">Java es una plataforma informática de lenguaje
					de programación. <br>
				Ha evolucionado desde sus humildes comienzos hasta impulsar una gran parte del mundo
		     	 digital actual, ya que es una plataforma fiable en la que se 
				crean muchos servicios y aplicaciones.<br>
				 Los nuevos e innovadores productos y servicios digitales diseñados
				  para el futuro también siguen basándose en Java.</p>
				  
				  <p class="parrafo">Características de Java: </p>
				  <ul class="lista">
					<li  class="elemento-lista">Orientado a Objetos</li>					
					<li class="elemento-lista"> Portabilidad </li>					
					<li class="elemento-lista"> Robusto y seguro </li>
				  </ul>
				  
				  
				  <h2 class="subtitulo-seccion">Características de Java</h2>
				  		 <table class="tabla">
				  		 	<tr>
				  		 		<th>Características</th>
				  		 		<th>Descripción</th>
				  		 	</tr>
				  		 	<tr>
				  		 		<th>Orientado a Objetos</th>
				  		 		<th>Sigue los principios de la programación orientada a objeto (encapsulamiento, herencia, polimorfismo, abstracción)</th>
				  		 	</tr>
				  		 	<tr>
				  		 		<th>Portabilidad </th>
				  		 		<th>Utiliza la máquina virtual de Java (JVM) que actúa como capa de abstracción entre el programa Java y el SO subyacente</th>
				  		 	</tr>
				  		 	<tr>
				  		 		<th>Robusto y seguro</th>
				  		 		<th>Posee un sistema de manejo de excepciones que permite a los programadores detectar y manejar errores de manera estructurada</th>
				  		 	</tr>
				  		 </table>
				  
			</section>
			
			<section id="seccion2" class="secciones-index">			
			<h2 class="titulo-seccion">Segunda Sección</h2>
			<h3 class="subtitulo-seccion">HTML y CSS</h3>
			<p class="parrafo">HTML (Hypertext Markup Language):
			Es el lenguaje estándar para crear y estructurar páginas web, <br>
			utilizando etiquetas para definir el contenido y la 
			organización de una página.</p>
			
			<p class="parrafo">CSS (Cascading Style Sheets): Es el lenguaje utilizado para controlar el estilo y la presentación visual de los elementos <br>
			 de una página web, incluyendo el diseño, el color, la fuente y el formato.</p> 
			 
			 <p class="parrafo">Características de html: </p>
			 <ul class="lista">
			 <li class="elemento-lista">Estructura basada en etiquetas</li>					
			 <li class="elemento-lista"> Lenguaje descriptivo </li>					
			 <li class="elemento-lista"> Lenguaje de Marcado </li>
			 </ul>
			 
			 
			 <h2 class="subtitulo-seccion">Características de css</h2>
			 <table class="tabla">
			 	<tr>
			 		<th>Características</th>
			 		<th>Descripción</th>
			 	</tr>
			 	<tr>
			 		<th>Jerarquía y cascada</th>
			 		<th>Utiliza un sistema de cascada y herencia para aplicar el estilo a los elementos</th>
			 	</tr>
			 	<tr>
			 		<th>Compatibilidad multiplataforma </th>
			 		<th>Es un estándar web, lo que garantiza su compatibilidad y consistencia en diferentes  navegadores</th>
			 	</tr>
			 	<tr>
			 		<th>Reutilización de estilos</th>
			 		<th>Permite agrupar y reutilizar estilos a través de selectores, clases e id´s</th>
			 	</tr>
			 </table>
			 
			 
			 
			 
			</section>
			
			<section id="seccion3" class="secciones-index">
				<h2 class="titulo-seccion">Tercer Sección</h2>
				<h3 class="subtitulo-seccion">Bootstrap</h3>
				<p class="parrafo">Bootstrap es un framework de código abierto front-end para desarrollar sitios web y aplicaciones web de forma rápida y responsiva.</p>
		
				<h2 class="subtitulo-seccion">Características de Bootstrap</h2>
				<ul class="lista">
					<li class="elemento-lista">Diseño responsive</li>
					<li class="elemento-lista">Personalización</li>
					<li class="elemento-lista">Compatibilidad multplataforma</li>
				</ul>
				<table  class="tabla">
					<tr>
						<th>Características</th>
						<th>Descripción</th>
					</tr>
					<tr>
						<th>Diseño Responsive</th>
						<th>Proporciona un sistema de cuadrícula y herramientas de diseño que se adaptan automáticamente a diferentes pantallas</th>
					</tr>
					<tr>
						<th>Personalización</th>
						<th>Los estilos de Bootstrap se pueden personalizar fácilmente a través de variables Sass y temas personalizados.</th>
					</tr>
					<tr>
						<th>Compatibilidad Multiplataforma</th>
						<th>Bootstrap es compatible con los principales navegadores web y dispositivos móviles.</th>
					</tr>
				</table>
			</section>
			
			
			<aside class="adicional">
				<h3 class="titulo-adicional">Requisitos de cursada</h3>
				<ul class="lista">
					<li class="elemento-lista">Haber aprobado PE y ED</li>					
					<li class="elemento-lista"> Minimo 80% de asistencia a teoria y práctica</li>					
					<li class="elemento-lista">Tres exámenes parciales a lo largo del cuatrimestre (nota minima: 6)</li>					
					<li class="elemento-lista">Se debe obtener un promedio general de 7 para aprobar la  materia</li>
				</ul>
				
				<p class="parrafo">Presiona <a class="link-adicional" "https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">aquí</a> para ver el programa completo</p>
				
				<img src="../static/img/logopv.png" alt="logo de pv" class="img-adicional">
			</aside>
			
			
			<footer id="pie-de-pagina">
				<p class="parrafo">Creado por Ignacio Martin</p>
				<ul class="lista">
					<li class="elemento-lista"><a href="https://www.instagram.com/igna_martin_22/" class="link-pie">Instagram</a></li>					
					<li class="elemento-lista"><a href="https://www.facebook.com/igna.martin.754" class="link-pie">Facebook</a></li>					
					<li class="elemento-lista"><a href="https://www.linkedin.com/in/ignacio-martin-6492142b2/" class="link-pie">Linkedin</a></li>
					<li class="elemento-lista"><a href="form-cliente.html" class="link-pie"> Formulario de ingreso</a></li>
				</ul>
			</footer>
			
		</main>
	</body>
</html>